Repository Luckxpress/LuckXpress-Backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @architect, @backend-team, @security-team, @database-team, @api-team, @cto, @cfo, @compliance-team, @devops-team, @product-team

Add Docker setup and GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CHANGELOG.md
  Dockerfile
  docker-compose.yml
Owners: @devops-team, @team-lead, @product-team

Add PowerShell setup test script for validation
  test-setup.ps1
Owners: @team-lead, @architect

Fix Maven dependency issues
  pom.xml
  test-setup.ps1
Owners: @backend-team, @team-lead, @architect

Fix JWT API compatibility issues
  luckxpress-core/src/main/java/com/luckxpress/core/auth/JwtTokenProvider.java
  luckxpress-core/src/main/java/com/luckxpress/core/security/SecurityContext.java
Owners: @security-team, @cto

Add comprehensive GitHub Enterprise setup guide
  GITHUB_SETUP_GUIDE.md
Owners: @team-lead, @architect

Add explicit methods to resolve Lombok compilation issues
  luckxpress-core/src/main/java/com/luckxpress/core/security/SecurityContext.java
  luckxpress-core/src/main/java/com/luckxpress/core/security/UserPrincipal.java
  pom.xml
Owners: @security-team, @cto, @backend-team, @team-lead

Build: enable Lombok annotation processing across modules; add Lombok deps; add Spring Web to core; JWT 0.12.5 compatibility; minor SecurityContext fix; explicit getters in UserPrincipal
  luckxpress-core/pom.xml
  luckxpress-core/src/main/java/com/luckxpress/core/security/UserPrincipal.java
  luckxpress-data/pom.xml
  luckxpress-remote/pom.xml
  luckxpress-service/pom.xml
  pom.xml
Owners: @backend-team, @team-lead, @security-team, @cto

refactor: migrate JWT token provider to use Spring Security's JwtEncoder/Decoder
  luckxpress-common/pom.xml
  luckxpress-common/src/main/java/com/luckxpress/common/security/UserPrincipal.java
  luckxpress-core/pom.xml
  luckxpress-core/src/main/java/com/luckxpress/core/auth/JwtTokenProvider.java
  luckxpress-core/src/main/java/com/luckxpress/core/monitoring/ComplianceSentryIntegration.java
  luckxpress-core/src/main/java/com/luckxpress/core/monitoring/SentryConfig.java
  luckxpress-core/src/main/java/com/luckxpress/core/security/CustomAccessDeniedHandler.java
  luckxpress-core/src/main/java/com/luckxpress/core/security/JwtAuthenticationEntryPoint.java
  luckxpress-core/src/main/java/com/luckxpress/core/security/JwtConfig.java
  luckxpress-core/src/main/java/com/luckxpress/core/security/SecurityAuditFilter.java
  luckxpress-core/src/main/java/com/luckxpress/core/security/SecurityConfig.java
  luckxpress-core/src/main/java/com/luckxpress/core/security/SecurityContext.java
  luckxpress-data/src/main/java/com/luckxpress/data/entity/BaseEntity.java
  luckxpress-web/src/main/resources/application.properties
  pom.xml
Owners: @backend-team, @team-lead, @security-team, @cto, @database-team, @devops-team

feat(frontend): scaffold react admin dashboard and install dependencies
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Owners: @team-lead, @architect, @product-team

refactor: remove legacy LuckXpress backend code and repositories
  backend/luckxpress-data/src/main/java/com/luckxpress/data/entity/KYCDocument.java
  backend/luckxpress-data/src/main/java/com/luckxpress/data/entity/LuckUser.java
  backend/luckxpress-data/src/main/java/com/luckxpress/data/entity/Payment.java
  backend/luckxpress-data/src/main/java/com/luckxpress/data/repository/KYCDocumentRepository.java
  backend/luckxpress-data/src/main/java/com/luckxpress/data/repository/LuckUserRepository.java
  backend/luckxpress-data/src/main/java/com/luckxpress/data/repository/PaymentRepository.java
  backend/luckxpress-web/src/main/java/com/luckxpress/LuckXpressApplication.java
  backend/luckxpress-web/src/main/java/com/luckxpress/controller/AdminDashboardController.java
  backend/luckxpress-web/src/main/java/com/luckxpress/controller/KYCController.java
  backend/luckxpress-web/src/main/java/com/luckxpress/controller/PaymentController.java
  backend/luckxpress-web/src/main/java/com/luckxpress/controller/UserManagementController.java
  backend/luckxpress-web/src/main/resources/application.yml
  backend/pom.xml
  frontend/TESTING_CHECKLIST.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dashboard/LiveActivityFeed.tsx
  frontend/src/components/Dashboard/ProviderStatus.tsx
  frontend/src/components/Dashboard/RevenueTrendChart.tsx
  frontend/src/components/Dashboard/index.tsx
  frontend/src/components/Layout/CustomSidebar.tsx
  frontend/src/types/sockjs-client.d.ts
  frontend/test-dashboard.bat
  frontend/test-dashboard.ps1
  frontend/test-dashboard.sh
  luckxpress-core/pom.xml
  luckxpress-core/src/main/java/com/luckxpress/core/auth/JwtTokenProvider.java
  luckxpress-core/src/main/java/com/luckxpress/core/auth/OAuth2AuthenticationProvider.java
  luckxpress-core/src/main/java/com/luckxpress/core/monitoring/ComplianceSentryIntegration.java
  luckxpress-core/src/main/java/com/luckxpress/core/monitoring/SentryConfig.java
  luckxpress-core/src/main/java/com/luckxpress/core/security/JwtAuthenticationFilter.java
  luckxpress-web/pom.xml
  luckxpress-web/src/main/java/com/luckxpress/config/WebSocketConfig.java
  luckxpress-web/src/main/java/com/luckxpress/service/ActivitySimulatorService.java
  luckxpress-web/src/main/resources/application.properties
Owners: @team-lead, @architect, @devops-team, @backend-team, @security-team, @cto, @api-team

feat: implement JWT token validation and claims extraction using Spring Security JWT decoder
  luckxpress-core/pom.xml
  luckxpress-core/src/main/java/com/luckxpress/core/auth/JwtTokenProvider.java
  luckxpress-core/src/test/java/com/luckxpress/core/auth/JwtTokenProviderTest.java
  luckxpress-data/pom.xml
  luckxpress-data/src/test/java/com/luckxpress/data/converter/StringListConverterTest.java
Owners: @backend-team, @team-lead, @security-team, @database-team

first commit
  luckxpress-backend/.gitignore
  luckxpress-backend/Dockerfile
  luckxpress-backend/README.md
  luckxpress-backend/docker-compose.yml
  luckxpress-backend/luckxpress-core/pom.xml
  luckxpress-backend/luckxpress-core/src/main/java/com/luckxpress/core/config/SecurityConfig.java
  luckxpress-backend/luckxpress-core/src/main/java/com/luckxpress/core/context/SecurityContextHelper.java
  luckxpress-backend/luckxpress-core/src/main/java/com/luckxpress/core/security/JwtAuthenticationEntryPoint.java
  luckxpress-backend/luckxpress-core/src/main/java/com/luckxpress/core/security/JwtAuthenticationFilter.java
  luckxpress-backend/luckxpress-core/src/main/java/com/luckxpress/core/security/JwtService.java
  luckxpress-backend/luckxpress-data/pom.xml
  luckxpress-backend/luckxpress-data/src/main/java/com/luckxpress/data/config/JpaConfig.java
  luckxpress-backend/luckxpress-data/src/main/java/com/luckxpress/data/entity/BaseEntity.java
  luckxpress-backend/luckxpress-data/src/main/java/com/luckxpress/data/entity/Role.java
  luckxpress-backend/luckxpress-data/src/main/java/com/luckxpress/data/entity/User.java
  luckxpress-backend/luckxpress-data/src/main/java/com/luckxpress/data/repository/RoleRepository.java
  luckxpress-backend/luckxpress-data/src/main/java/com/luckxpress/data/repository/UserRepository.java
  luckxpress-backend/luckxpress-data/src/main/resources/db/changelog/changes/v1.0.0-initial-schema.xml
  luckxpress-backend/luckxpress-data/src/main/resources/db/changelog/db.changelog-master.xml
  luckxpress-backend/luckxpress-remote/pom.xml
  luckxpress-backend/luckxpress-remote/src/main/java/com/luckxpress/remote/client/FeignClientConfig.java
  luckxpress-backend/luckxpress-remote/src/main/java/com/luckxpress/remote/client/JsonPlaceholderClient.java
  luckxpress-backend/luckxpress-remote/src/main/java/com/luckxpress/remote/config/RestClientConfig.java
  luckxpress-backend/luckxpress-service/pom.xml
  luckxpress-backend/luckxpress-service/src/main/java/com/luckxpress/service/dto/UserDTO.java
  luckxpress-backend/luckxpress-service/src/main/java/com/luckxpress/service/security/CustomUserDetailsService.java
  luckxpress-backend/luckxpress-service/src/main/java/com/luckxpress/service/user/UserService.java
  luckxpress-backend/luckxpress-service/src/main/java/com/luckxpress/service/user/UserServiceImpl.java
  luckxpress-backend/luckxpress-web/pom.xml
  luckxpress-backend/luckxpress-web/src/main/java/com/luckxpress/LuckXpressApplication.java
  luckxpress-backend/luckxpress-web/src/main/java/com/luckxpress/web/config/OpenApiConfig.java
  luckxpress-backend/luckxpress-web/src/main/java/com/luckxpress/web/controller/HealthController.java
  luckxpress-backend/luckxpress-web/src/main/java/com/luckxpress/web/exception/CustomExceptions.java
  luckxpress-backend/luckxpress-web/src/main/java/com/luckxpress/web/exception/ErrorResponse.java
  luckxpress-backend/luckxpress-web/src/main/java/com/luckxpress/web/exception/GlobalExceptionHandler.java
  luckxpress-backend/luckxpress-web/src/main/resources/application.yml
  luckxpress-backend/pom.xml
  luckxpress-backend/simple-app/pom.xml
  luckxpress-backend/simple-app/src/main/java/com/luckxpress/SimpleApplication.java
  luckxpress-backend/simple-app/src/main/resources/application.yml
Owners: @team-lead, @architect, @devops-team, @product-team, @backend-team, @security-team, @cto

.github/CODEOWNERS:

# Global owners - These users will be requested for review when someone opens a pull request
* @team-lead @architect

# Module specific owners
/luckxpress-common/ @backend-team
/luckxpress-core/ @security-team
/luckxpress-data/ @database-team
/luckxpress-service/ @backend-team
/luckxpress-web/ @api-team
/luckxpress-app/ @backend-team

# Critical financial and security components - Require additional approvals
/luckxpress-service/src/main/java/com/luckxpress/service/ledger/ @cto @cfo @security-team
/luckxpress-service/src/main/java/com/luckxpress/service/payment/ @cto @security-team
/luckxpress-service/src/main/java/com/luckxpress/service/withdrawal/ @cto @cfo @security-team
/luckxpress-service/src/main/java/com/luckxpress/service/compliance/ @cto @compliance-team

# Configuration and deployment files
/.github/ @devops-team @team-lead
/docker/ @devops-team
/k8s/ @devops-team
/helm/ @devops-team
Dockerfile @devops-team
docker-compose*.yml @devops-team

# Database migrations and schema changes
/luckxpress-data/src/main/resources/db/ @database-team @cto
**/migration/ @database-team @cto
**/schema/ @database-team @cto

# Security configurations
/luckxpress-core/src/main/java/com/luckxpress/core/security/ @security-team @cto
**/SecurityConfig.java @security-team @cto
**/JwtConfig.java @security-team @cto

# API contracts and documentation
/luckxpress-web/src/main/java/com/luckxpress/web/controller/ @api-team @product-team
**/openapi/ @api-team @product-team
**/swagger/ @api-team @product-team

# Build and dependency management
pom.xml @backend-team @team-lead
**/pom.xml @backend-team @team-lead
.mvn/ @backend-team @devops-team

# Documentation
README.md @team-lead @product-team
CHANGELOG.md @team-lead @product-team
/docs/ @product-team @team-lead

# Environment and configuration files
application*.yml @devops-team @backend-team
application*.properties @devops-team @backend-team
logback*.xml @devops-team @backend-team
